:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  margin: 6px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  min-width: 330px;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}

#regimen-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.regimen {
  text-align: left;
  width: 300px;
}

#fretboard {
  background-color: #3d240c;
  border-radius: 3px;
  display: block;
}

#binding {
  background-color: #ffffed;
  border-radius: 3px;
  height: 100%;
  padding: 2px;
}

#nut {
  stroke: bisque;
}

.fret {
  stroke: slategrey;
  stroke: #c0c6c7;
}

.guitar-string {
  stroke: #727472;
  stroke: #9a9c9c;
}

.fret-marker {
  fill: #f8f6f0;
  fill: #e2dfd2;
}

.highlighted-note {
  fill: orange;
}
